<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{{ message }}

<form method="POST">
    <button type="submit">Start Puzzle</button>
</form>

<form action="{% url 'clear_and_exit' %}" onsubmit="return confirm('Confirm to exit?');">
    <button type="submit">Exit</button>
</form>

</body>

<script>
    // speak the message aloud after page loading
    window.addEventListener("DOMContentLoaded", () => {
        const message = "{{ message|escapejs }}";
        if (message) {
            const utterance = new SpeechSynthesisUtterance(message);
            utterance.lang = "en-US";
            utterance.rate = 0.8; // speed (1 = normal)
            utterance.pitch = 1; // tone of voice (1 = normal)
            speechSynthesis.speak(utterance);
        }
    });
</script>

</html>