<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> Design Your Own Puzzles </div>
<form method="POST">
    <label>Difficulty:</label>
    <select name="difficulty">
        {% for d in difficulties %}
            <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    </select><br>

    <label>Character:</label>
    <select name="character">
        {% for c in characters %}
            <option value="{{ c }}">{{ c }}</option>
        {% endfor %}
    </select><br>

    <label>Activity:</label>
    <select name="activity">
        {% for ac in activities %}
            <option value="{{ ac }}">{{ ac }}</option>
        {% endfor %}
    </select><br>

    <button type="submit">Create Puzzle</button>
</form>

<form action="{% url 'clear_and_exit' %}" onsubmit="return confirm('Confirm to exit?');">
    <button type="submit">Exit</button>
</form>
<form id="view_history" method="POST" action="{% url 'view_history' %}">
    <button type="submit">View History</button>
</form>

</body>
</html>