{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body { /* not allowed to scroll*/
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        .tab { display: flex; gap: 8px; margin-bottom: 10px; }
        .tab button {
            padding: 6px 12px;
            border: 1px solid #ccc;
            background: #f5f5f5;
            cursor: pointer;
            border-radius: 8px;
            font-weight: 600;
        }
        .tab button.active { background: #4285f4; color: white; }

        .tabcontent { display: none; }

        .full_image {
            opacity: 0.3;
            width: 400px;
            height: 400px;
            margin-bottom: 15px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
        }
        .pieces {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            width: 400px;
            margin: 0 auto;
        }
        .pieces img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
            cursor: grab;
        }
        .pieces img.locked {
            opacity: 0.7;
            cursor: default;
            box-shadow: 0 0 3px rgba(0,255,0,0.5);
        }
        .timer {
            font-size:48px;
            padding:20px 30px;
            background:white;
            border-radius:8px;
            box-shadow:0 6px 18px rgba(0,0,0,0.08);
        }

    </style>

</head>
<body>
    <div> Solve the Puzzles </div>
    <div>  Drag images below and drop them following the patterns shown. </div>

    <div class="timer" id="timer">00:00</div>

    <div class="tab">
      {% for img, img_id, pieces in puzzle_config.full_info_list %}
        <button class="tablinks" onclick="showTab({{ forloop.counter0 }})">
          Puzzle {{ forloop.counter }}
        </button>
      {% endfor %}
    </div>

    {% for img, img_id, pieces in puzzle_config.full_info_list %}
      <div class="tabcontent" id="tab{{ forloop.counter0 }}">
        <div class="full_image_container">
            <img src="{% static img %}" class="full_image"
                 id="tab{{ forloop.counter0 }}_dropzone"
                 draggable="false" alt="Full puzzle">
        </div>

        <div class="pieces">
            {% for piece_id, piece in pieces %}
                <div class="piece">
                    <img src="{% static piece %}"
                         id="{{ img_id }}_{{ piece_id }}"
                         draggable="true" alt="Piece {{ piece_id }}">
                </div>
            {% endfor %}
        </div>
      </div>
    {% endfor %}

    <form action="{% url 'clear_and_exit' %}" onsubmit="return confirm('Confirm to exit?');">
        <button type="submit">Exit</button>
    </form>

    <script>

        const full_info_list = {{ puzzle_config.full_info_list|safe }};
        const puzzle_count = {{ full_info_list|length }};
        let completed = Array(puzzle_count).fill(false);
        let current_tab = 0;

        async function showTab(index) {
            if (index > 0 && !completed[index - 1]) {
                alert(`Please complete Puzzle ${index} first!`);
                return;
            }

            current_tab = index;
            const tabs = document.querySelectorAll(".tabcontent");
            const buttons = document.querySelectorAll(".tab button");

            tabs.forEach(t => t.style.display = "none");
            buttons.forEach(b => b.classList.remove("active"));

            tabs[index].style.display = "block";
            buttons[index].classList.add("active");

            send_record_to_log("start", index);

            // start puzzle solving process
            puzzle_solving();
        }

        // Check if all pieces in a puzzle are locked
        async function checkPuzzleComplete(index) {
            const items = document.querySelectorAll(`#tab${index} .pieces img`);
            const allLocked = Array.from(items).every(i => i.draggable === false);
            if (allLocked) {
                completed[index] = true;
                alert('Puzzle ' + (index + 1) + ' completed!');
                send_record_to_log("completed", index);

                if (index === puzzle_count) {
                    window.location.href = "{% url 'manual_rating' %}";
                }
            }
        }

        // send status record to log
        async function send_record_to_log(action, index) {
            try {
                const record_data = new FormData();
                record_data.append("action", action);
                record_data.append("index", index);
                const response = await fetch("{% url 'save_personal_record_detail' %}", {
                    method: "POST",
                    body: record_data,
                });

                const result = await response.json();
            } catch (err) {
                console.error("Error sending start record:", err);
            }
        }

        function puzzle_solving() {
            const items = document.querySelectorAll(`#tab${current_tab} .pieces img`);
            let offsetX, offsetY;
            let current_item = null;

            items.forEach(item => {
                item.addEventListener("mousedown", e => {
                    if (item.classList.contains("locked")) return;

                    current_item = item;
                    current_item.style.cursor = "grabbing";
                    const rect = current_item.getBoundingClientRect();
                    offsetX = e.clientX - rect.left;
                    offsetY = e.clientY - rect.top;
                    current_item.style.width = rect.width + "px";
                    current_item.style.height = rect.height + "px";
                    current_item.style.position = "absolute";
                    current_item.style.zIndex = 1000;
                    // document.body.appendChild(current_item);
                });
            });

            document.addEventListener("mousemove", e => {
                if (!current_item) return;
                current_item.style.left = (e.clientX - offsetX) + "px";
                current_item.style.top = (e.clientY - offsetY) + "px";
            });

            document.addEventListener("mouseup", async e => {
                if (!current_item) return;
                current_item.style.cursor = "grab";

                // const container_pos = current_item.parentElement.getBoundingClientRect();
                const piece_pos = current_item.getBoundingClientRect();
                // const refined_x = piece_pos.left - container_pos.left + window.scrollX;
                // const refined_y = piece_pos.top - container_pos.top + window.scrollY;

                const dropzone = document.getElementById("tab"+current_tab+"_dropzone");
                const dropzone_pos = dropzone.getBoundingClientRect();
                // const refined_left = dropzone_pos.left - container_pos.left + window.scrollX;
                // const refined_top = dropzone_pos.top - container_pos.top + window.scrollY;
                // const refined_right = dropzone_pos.right - container_pos.right + window.scrollX;
                // const refined_bottom = dropzone_pos.bottom - container_pos.bottom + window.scrollY;

                const drag_pos_data = new FormData();
                drag_pos_data.append("index", current_tab);
                drag_pos_data.append("piece_id", current_item.id);
                drag_pos_data.append("x", piece_pos.left);
                drag_pos_data.append("y", piece_pos.top);
                drag_pos_data.append("target_left", dropzone_pos.left);
                drag_pos_data.append("target_top", dropzone_pos.top);
                drag_pos_data.append("target_right", dropzone_pos.right);
                drag_pos_data.append("target_bottom", dropzone_pos.bottom);
                // drag_pos_data.append("x", refined_x);
                // drag_pos_data.append("y", refined_y);
                // drag_pos_data.append("target_left", refined_left);
                // drag_pos_data.append("target_top", refined_top);
                // drag_pos_data.append("target_right", refined_right);
                // drag_pos_data.append("target_bottom", refined_bottom);

                try {
                    const response = await fetch("{% url 'solve_collab' %}", {
                        method: "POST",
                        body: drag_pos_data
                    });
                    const data = await response.json();

                    if (data.success) {
                        current_item.style.left = data.correct_x + "px";
                        current_item.style.top = data.correct_y + "px";
                        current_item.draggable = false;
                        current_item.classList.add("locked");

                        checkPuzzleComplete(current_tab);
                    }
                } catch (err) {
                    console.error("Error verifying piece position:", err);
                }

                current_item = null;
            });
        }

        // add timer for full puzzle solving process
        const start_minutes = 0.2;
        const next_url = "{% url 'manual_rating' %}";

        let remaining_seconds = start_minutes * 60;
        const timer_full_puzzle = document.getElementById('timer');
        let timer_interval = null; // update the timer by one second

        function formatTime(totalSeconds) {
            const m = Math.floor(totalSeconds / 60);
            const s = totalSeconds % 60;
            const mm = String(m).padStart(2, '0');
            const ss = String(s).padStart(2, '0');
            return `${mm}:${ss}`;
        }

        function tick() {
            timer_full_puzzle.textContent = formatTime(remaining_seconds);

            if (remaining_seconds <= 0) {
                clearInterval(timer_interval);
                alert('Timeout!');
                send_record_to_log("terminated", current_tab);
                window.location.href = next_url;
                return;
            }

            remaining_seconds -= 1;
        }

        // clear the timer
        tick();
        timer_interval = setInterval(tick, 1000);

    </script>
</body>
</html>